.navbar-container {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 8.333333%;
    display: flex;
    flex-direction: column;
    background-color:#2A9D8F;
    color: rgb(255, 255, 255, 1);
    overflow:scroll;
    min-width:min-content;
}

.navbar-mobile-container {
    background-color:transparent;
    width: 100%;
    height: 4rem;
    position:absolute;
}

.hamburger-icon {
    z-index: 4;
    position: relative;
    margin-left: 1.75rem;
    margin-top: 1.75rem;
    height: 4rem;
    width: 4rem;
    color: #264653;
    border-radius: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    transition-timing-function: linear;
    border: transparent;
    background: transparent;
}
.hamburger-icon:active {
    background-color: #E9C46A;
    color: #F4A261;
    border-radius: 0.50rem;
}

.navbar-list {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-icon {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #264653;
    border-radius: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.navbar-icon:hover {
    background-color: #E9C46A;
    color: #F4A261;
    border-radius: 0.50rem;
}

.navbar-icon-mobile {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #264653;
    border-radius: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.navbar-icon-mobile:active {
    background-color: #E9C46A;
    color: #F4A261;
    border-radius: 0.50rem;
}

.flip-horizontal {
    transform: scaleX(-1);;
}

.navbar-description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    color: #264653;
}

.navbar-link {
    text-decoration: none;
}

.external-links-list {
    position: absolute;
    bottom: 0px;
}

.menu {
    z-index: 3;
    background-color: #2A9D8F;
    width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 500ms;
    overflow: hidden;
}

.menu.active {
    width: 8rem;
    transition: 500ms;
}

.navbar-link{
    text-decoration: none;
}

.prevent-resize {
    min-width: 6rem;
    max-height: 6.5rem;
    overflow:auto;
    display:inline-block;
}