::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.form-list {
    margin-top: auto;
    margin-bottom: auto;
}

.contact-container {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 91.666667%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.contact-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.cotact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    color: #27187E;
}

.form-input-good {
    width: 50%;
    font-weight: 700;
    background-color: transparent;
    border-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-bottom-width: 2px;
    border-color: rgb(0, 0, 0, 1);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    resize: none;
    color: #529959;
}
.form-input-good:hover {
    color: #fec89a;
}
.form-input-good::placeholder {
    color: #27187E;
}
.form-input-good:hover::placeholder {
    color: #fec89a;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
.form-input-bad {
    width: 50%;
    font-weight: 700;
    background-color: transparent;
    border-width: 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-bottom-width: 2px;
    border-color: rgb(0, 0, 0, 1);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    resize: none;
    color: rgb(239, 68, 68, 1);
    animation: shake;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}
.form-input-bad:hover {
    color: #fec89a;
}
.form-input-bad::placeholder {
    color: rgb(239, 68, 68, 1);
}
.form-input-bad:hover::placeholder {
    color: #fec89a;
}

.contact-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #529959;
    border-radius: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: linear;
}
.contact-icon:hover {
    background-color: rgb(192, 192, 192);
    border-radius: 0.50rem;;
    color: #fec89a;
}

@keyframes spin {
    from { transform:rotate(0deg) }
    to { transform:rotate(1800deg) }
}
.contact-icon-sent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #529959;
    animation: spin;
    animation-duration: 1750ms;
    animation-timing-function: ease-in-out;
}

.contact-description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #529959;
}

.contact-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


.collapsible {
    background: transparent;
}

.collapsible .content {
    border: transparent;
}

.collapsible .content-parent {
    height: "0px";
    overflow: hidden;
    transition: height ease 2s;
}

.collapsible .content-parent.show {
    height: auto;
}
