.fake-max-margin {
    top: 0px;
    margin-top: 15%;
}

.fake-min-margin {
    top: 0px;
    margin-bottom: 15%;
}

.collapsible {
    background: transparent;
}

.collapsible .content {
    border: transparent;
}

.collapsible .content-parent {
    height: "0px";
    overflow: hidden;
    transition: ease 2s;
}

.collapsible .content-parent.show {
    height: auto;
}

.home-container {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 91.666667%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow:scroll;
}

.home-mobile-container {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow:scroll;
}

.home-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting {
    width: 60%;
    font-weight: 500;
    font-size: 1.875rem;
    color: #529959;
    white-space: pre-wrap;
    letter-spacing: .5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    line-height: 0%;
}

.greeting-mobile {
    width: 80%;
    font-weight: 500;
    font-size: 1rem;
    color: #529959;
    white-space: pre-wrap;
    margin: 20px;
    letter-spacing: .2rem;
}

.name {
    width: 60%;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #264653;
    white-space: pre-wrap;
    letter-spacing: .5rem;
    line-height: normal;
}

.name-mobile {
    width: 80%;
    font-size: 2rem;
    font-weight: 700;
    color: #264653;
    white-space: pre-wrap;
    margin: 20px;
    letter-spacing: .2rem;
}

.catch-phrase {
    width: 60%;
    font-size: 1.875rem;
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #264653;
    white-space: pre-wrap;
    letter-spacing: .5rem;
    line-height: normal;
}

.catch-phrase-mobile {
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    color: #264653;
    white-space: pre-wrap;
    margin: 10px;
    line-height: normal;
    letter-spacing: .2rem;
}

.resume-link {
    width: 60%;
}

.resume-link-mobile {
    width: 80%;
}

.resume-button {
    margin-top: 25px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ece4db;
    background-color: #2A9D8F;
    border: transparent;
    border-radius: 1.5rem;
    transition-duration: 200ms;
    min-width: fit-content;
    white-space:pre;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.resume-buttom-mobile {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #ece4db;
    background-color: #2A9D8F;
    border: transparent;
    border-radius: 1.5rem;
    transition-duration: 200ms;
    min-width: fit-content;
    white-space: pre-wrap;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: .2rem;
}

.resume-button:hover {
    background-color: #E9C46A;
    border-radius: 0.50rem;;
    color: #F4A261;
}

.resume-button-mobile:hover {
    background-color: #E9C46A;
    border-radius: 0.50rem;;
    color: #F4A261;
}